<template>
  <div>
    <h1>Dashboard</h1>
  </div>
</template>

<script>
export default {
  components: {},
  data: () => ({}),
  methods: {},
  beforeCreate: function() {
    console.log("Before Create");
  },
  created() {
    console.log("Create");
  },
  beforeMount: function() {
    console.log("Before Mounted");
  },
  mounted: function() {
    console.log("Mounter");
  },
  beforeUpdate() {
    console.log("Before Update");
  },
  updated() {
    console.log("Update");
  },
  beforeDestroy() {},
  destroyed() {}
};
</script>
