<template>
  <div id="tailwind-grid-demo">
    <h4>You are second page.</h4>
    <!-- Full width column -->
    <div class="flex mb-4">
      <div class="w-full bg-grid-color h-12">1</div>
    </div>
    <!-- Two columns -->
    <div class="flex mb-4">
      <div class="w-1/2 bg-grid-color-secondary h-12"></div>
      <div class="w-1/2 bg-grid-color h-12"></div>
    </div>

    <!-- Three columns -->
    <div class="flex mb-4">
      <div class="w-1/3 bg-grid-color-secondary h-12"></div>
      <div class="w-1/3 bg-grid-color h-12"></div>
      <div class="w-1/3 bg-grid-color-secondary h-12"></div>
    </div>

    <!-- Four columns -->
    <div class="flex mb-4">
      <div class="w-1/4 bg-grid-color h-12"></div>
      <div class="w-1/4 bg-grid-color-secondary h-12"></div>
      <div class="w-1/4 bg-grid-color h-12"></div>
      <div class="w-1/4 bg-grid-color-secondary h-12"></div>
    </div>

    <!-- Five columns -->
    <div class="flex mb-4">
      <div class="w-1/5 bg-grid-color h-12"></div>
      <div class="w-1/5 bg-grid-color-secondary h-12"></div>
      <div class="w-1/5 bg-grid-color h-12"></div>
      <div class="w-1/5 bg-grid-color-secondary h-12"></div>
      <div class="w-1/5 bg-grid-color h-12"></div>
    </div>

    <!-- Six columns -->
    <div class="flex">
      <div class="w-1/6 bg-grid-color-secondary h-12"></div>
      <div class="w-1/6 bg-grid-color h-12"></div>
      <div class="w-1/6 bg-grid-color-secondary h-12"></div>
      <div class="w-1/6 bg-grid-color h-12"></div>
      <div class="w-1/6 bg-grid-color-secondary h-12"></div>
      <div class="w-1/6 bg-grid-color h-12"></div>
    </div>
  </div>
</template>
<style lang="scss">
#tailwind-grid-demo {
  .bg-grid-color {
    background-color: #b8c2cc;
  }

  .bg-grid-color-secondary {
    background-color: #dae1e7;
  }
}
.theme-dark {
  #tailwind-grid-demo {
    .bg-grid-color {
      background-color: #262c49; // $table-dark-stripe
    }

    .bg-grid-color-secondary {
      background-color: #414561; // $grid-dark-color
    }
  }
}
</style>
