<template>
  <div>
    <div class="vx-row mb-6">
      <div class="vx-col w-full">
        <vs-input class="w-full" label="Username" v-model="username" />
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col w-full">
        <vs-input class="w-full" label="User Group" v-model="usergroup" />
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col w-full">
        <vs-input class="w-full" label="Longname" v-model="longname" />
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col w-full">
        <span>Asset</span>
        <v-select v-model="asset" :options="assetOption" />
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full">
        <vs-button class="mr-3 mb-2" @click="post()">Submit</vs-button>
        <vs-button
          color="warning"
          type="border"
          class="mb-2"
          @click="
            username = usergroup = longname = input12 = '';
            check3 = false;
          "
          >Reset</vs-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
export default {
  components: { "v-select": vSelect },
  data: () => ({
    popupActive2: false,
    assetOption: [
      { label: "Asset 1", value: "1" },
      { label: "Asset 2", value: "2" },
      { label: "Asset 3", value: "3" }
    ],
    username: "",
    usergroup: "",
    longname: "",
    asset: ""
  }),
  methods: {
    post() {
      this.$vs.loading();

      const payload = {
        UserID: 1,
        UserName: this.username,
        UserGroup: this.usergroup,
        Longname: this.longname,
        Asset: this.asset.value,
        Token: localStorage.getItem("access_token"),
        created_by: localStorage.getItem("username")
      };

      this.$store
        .dispatch("POST_INSERT", payload)
        .then(() => {
          this.$vs.loading.close();
          this.$vs.notify({
            title: "Success",
            text: "Data berhasil dimasukan",
            color: "success",
            iconPack: "feather",
            icon: "icon-check"
          });
          //   this.$router.push("/");
        })
        .catch(error => {
          this.$vs.loading.close();
          this.error = true;
          this.$vs.notify({
            title: "Error",
            text: error,
            iconPack: "feather",
            icon: "icon-alert-circle",
            color: "danger"
          });
        });
    }
  }
};
</script>
