<template>
  <div>
    <div class="vx-row mb-6">
      <div class="vx-col w-full">
        <vs-input
          class="w-full"
          label="Username"
          v-model="users.UserName"
          v-if="$props.detailposition == 'edit'"
        />
        <span v-else> Username : {{ users.UserName }}</span>
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col w-full">
        <vs-input
          class="w-full"
          label="User Group"
          v-model="users.UserGroup"
          v-if="$props.detailposition == 'edit'"
        />
        <span v-else>UserGroup : {{ users.UserGroup }}</span>
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col w-full">
        <vs-input
          class="w-full"
          label="Longname"
          v-model="users.LongName"
          v-if="$props.detailposition == 'edit'"
        />
        <span v-else>LongName : {{ users.LongName }}</span>
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col w-full">
        <span>Asset</span>
        <v-select
          v-model="users.Asset"
          :options="assetOption"
          v-if="$props.detailposition == 'edit'"
        />
        <span v-else>Asset : {{ users.Asset }}</span>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full">
        <vs-button class="mr-3 mb-2" @click="update()">Update</vs-button>
        <vs-button
          color="warning"
          type="border"
          class="mb-2"
          @click="
            username = usergroup = longname = input12 = '';
            check3 = false;
          "
          >Reset</vs-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
export default {
  props: ["userdetail", "detailposition"],
  components: { "v-select": vSelect },
  data: () => ({
    popupActive2: false,
    assetOption: [
      { label: "Asset 1", value: "1" },
      { label: "Asset 2", value: "2" },
      { label: "Asset 3", value: "3" }
    ],
    users: []
  }),
  watch: {
    userdetail(id) {
      this.loadDetail(id);
    }
  },
  methods: {
    loadDetail() {
      this.$store
        .dispatch("GET_USERS_DETAIL", this.$props.userdetail)
        .then(data => {
          this.users = data;
        });
    },

    update() {
      this.$vs.loading();

      const payload = {
        UserID: 1,
        UserName: this.users.UserName,
        UserGroup: this.users.UserGroup,
        Longname: this.users.LongName,
        Asset: this.users.Asset.value,
        Token: localStorage.getItem("access_token"),
        created_by: localStorage.getItem("username")
      };

      this.$store
        .dispatch("POST_INSERT", payload)
        .then(() => {
          this.$vs.loading.close();
          //   this.$router.push("/");
        })
        .catch(error => {
          this.$vs.loading.close();
          this.error = true;
          this.$vs.notify({
            title: "Error",
            text: error,
            iconPack: "feather",
            icon: "icon-alert-circle",
            color: "danger"
          });
        });
    }
  },
  mounted() {}
};
</script>
