<template>
  <div>
    <vx-card title="User Management Page">
      <template slot="actions">
        <vx-tooltip text="Add new data" position="bottom">
          <vs-button type="gradient" @click="popupActive2 = true"
            ><svg
              width="2em"
              height="2em"
              viewBox="0 0 16 16"
              class="bi bi-clipboard-plus"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
              />
              <path
                fill-rule="evenodd"
                d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"
              /></svg
          ></vs-button>
        </vx-tooltip>
      </template>
      <vs-table
        :sst="true"
        @search="handleSearch"
        @change-page="handleChangePage"
        @sort="handleSort"
        v-model="selected"
        pagination
        max-items="5"
        search
        :data="users"
      >
        <template slot="thead">
          <vs-th width="15%">Action</vs-th>
          <vs-th sort-key="UserID">UserID</vs-th>
          <vs-th sort-key="UserName">UserName</vs-th>
          <vs-th sort-key="LongName">LongName</vs-th>
          <vs-th sort-key="UserGroup">UserGroup</vs-th>
          <vs-th sort-key="Asset">Asset</vs-th>
        </template>

        <template slot-scope="{ data }">
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td>
              <div class="btn-group">
                <vs-button
                  size="small"
                  color="danger"
                  title="Delete"
                  @click="deleteData(data[indextr].UserID)"
                  ><svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-trash-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                    /></svg
                ></vs-button>
                <vs-button
                  size="small"
                  title="Edit"
                  @click="detail(data[indextr].UserID, 'edit')"
                  ><svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-pencil-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                    /></svg
                ></vs-button>
                <vs-button
                  size="small"
                  title="Detail"
                  @click="detail(data[indextr].UserID, 'view')"
                  ><svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-question-octagon-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM5.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"
                    /></svg
                ></vs-button>
              </div>
            </vs-td>
            <vs-td :data="data[indextr].UserID">
              {{ data[indextr].UserID }}
            </vs-td>
            <vs-td :data="data[indextr].UserName">
              {{ data[indextr].UserName }}
            </vs-td>
            <vs-td :data="data[indextr].LongName">
              {{ data[indextr].LongName }}
            </vs-td>
            <vs-td :data="data[indextr].UserGroup">
              {{ data[indextr].UserGroup }}
            </vs-td>
            <vs-td :data="data[indextr].Asset">
              {{ data[indextr].Asset }}
            </vs-td>
          </vs-tr>
        </template>
      </vs-table>

      <vs-popup
        classContent="popup-example"
        title="Add New User"
        :active.sync="popupActive2"
      >
        <AddUser></AddUser>
      </vs-popup>

      <vs-popup
        classContent="popup-example"
        title="Detail User"
        :active.sync="popupDetail"
      >
        <EditUser
          :userdetail="userdetail"
          :detailposition="detailposition"
        ></EditUser>
      </vs-popup>
    </vx-card>
  </div>
</template>

<script>
import axios from "axios";

import AddUser from "./Add.vue";
import EditUser from "./Edit.vue";
export default {
  components: { AddUser, EditUser },
  data: () => ({
    popupActive2: false,
    popupDetail: false,
    selected: [],
    log: [],
    users: [],
    userdetail: "",
    detailposition: "",
    notif: ""
  }),
  methods: {
    loadUsers() {
      this.$store.dispatch("GET_USERS").then(data => {
        this.users = data;
      });
    },

    async loadUsersAxios() {
      const header = {
        "Content-Type": "application/json",
        Authorization: "Bearer " + localStorage.getItem("access_token")
      };
      await axios
        .get("http://localhost:8081/api/values/Users", {
          headers: header
        })
        .then(res => {
          this.users = res.data.Data;
        })
        .catch(error => {
          console.log(error + "error");
        })
        .finally();
    },

    detail(id, pos) {
      this.userdetail = id;
      this.detailposition = pos;
      this.popupDetail = true;
    },

    deleteData(id) {
      var notif = "Success, user has been deleted";
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You want to delete this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!"
        })
        .then(result => {
          if (result.value) {
            this.$store.dispatch("DELETE_USER", id).then(data => {
              this.notif = data;
              this.$vs.notify({
                title: "Success",
                text: notif,
                color: "success",
                iconPack: "feather",
                icon: "icon-check"
              });
            });
            this.$swal.fire(
              "Deleted!",
              "Your file has been deleted.",
              "success"
            );
          }
        });
    },

    handleSearch(searching) {
      console.log(`The user searched for: ${searching}`);
    },
    handleChangePage(page) {
      console.log(`The user changed the page to: ${page}`);
    },
    handleSort(key, active) {
      console.log(`the user ordered: ${key} ${active}`);
    }
  },
  mounted() {
    this.loadUsers();
    // this.loadUsersAxios();
  }
};
</script>
